location /labor-supply-wiki/ {
    root /var/www/personal-site;
    index index.html;

    auth_basic "Private Labor Supply Wiki";
    auth_basic_user_file /etc/nginx/.htpasswd-labor-supply;

    try_files $uri $uri/ /labor-supply-wiki/index.html;
}
